<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Cognitor Web
Desenvolvido por David Buzatto</description>
    <display-name>Cognitor Web</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/applicationContext.xml</param-value>
    </context-param>
    <filter>
        <filter-name>AutoFlushOpenSessionInViewFilter</filter-name>
        <filter-class>br.ufscar.dc.lia.cognitorweb.filtros.AutoFlushOpenSessionInViewFilter</filter-class>
        <init-param>
            <param-name>singleSession</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AutoFlushOpenSessionInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <description>Carga das configurações do sistema.</description>
        <listener-class>br.ufscar.dc.lia.cognitorweb.listeners.ConfiguracoesListener</listener-class>
    </listener>
    <listener>
        <description>Limpeza do upload de arquivos.</description>
        <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
    </listener>
    <servlet>
        <servlet-name>CommonSenseServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.CommonSenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestesCriacaoOAsServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.testes.TestesCriacaoOAsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfiguracaoServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.ConfiguracaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperaSenhaServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.RecuperaSenhaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoffServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.LogoffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroNovoUsuarioServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.CadastroNovoUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.MaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraEstruturaMaterialServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.AlteraEstruturaMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraPropriedadesOAServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.AlteraPropriedadesOAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarOAServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.CriarOAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarPaginaServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.SalvarPaginaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarAnalogiasServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.GerarAnalogiasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapaConceitosServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.MapaConceitosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MetadadosServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.MetadadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeitorMidiasServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.LeitorMidiasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApagaArquivoServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.ApagaArquivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportacaoMaterialServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.ExportacaoMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaMaterialServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.PesquisaMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportsServlet</servlet-name>
        <servlet-class>br.ufscar.dc.lia.cognitorweb.servlets.ReportsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommonSenseServlet</servlet-name>
        <url-pattern>/servlets/CommonSenseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestesCriacaoOAsServlet</servlet-name>
        <url-pattern>/servlets/TestesCriacaoOAsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/servlets/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfiguracaoServlet</servlet-name>
        <url-pattern>/servlets/ConfiguracaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlets/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperaSenhaServlet</servlet-name>
        <url-pattern>/servlets/RecuperaSenhaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoffServlet</servlet-name>
        <url-pattern>/servlets/LogoffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroNovoUsuarioServlet</servlet-name>
        <url-pattern>/servlets/CadastroNovoUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialServlet</servlet-name>
        <url-pattern>/servlets/MaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraEstruturaMaterialServlet</servlet-name>
        <url-pattern>/servlets/AlteraEstruturaMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraPropriedadesOAServlet</servlet-name>
        <url-pattern>/servlets/AlteraPropriedadesOAServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarOAServlet</servlet-name>
        <url-pattern>/servlets/CriarOAServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarPaginaServlet</servlet-name>
        <url-pattern>/servlets/SalvarPaginaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarAnalogiasServlet</servlet-name>
        <url-pattern>/servlets/GerarAnalogiasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapaConceitosServlet</servlet-name>
        <url-pattern>/servlets/MapaConceitosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MetadadosServlet</servlet-name>
        <url-pattern>/servlets/MetadadosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/servlets/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeitorMidiasServlet</servlet-name>
        <url-pattern>/servlets/LeitorMidiasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApagaArquivoServlet</servlet-name>
        <url-pattern>/servlets/ApagaArquivoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportacaoMaterialServlet</servlet-name>
        <url-pattern>/servlets/ExportacaoMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaMaterialServlet</servlet-name>
        <url-pattern>/servlets/PesquisaMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportsServlet</servlet-name>
        <url-pattern>/servlets/ReportsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
