.SwfUploadPanel_iconAdd {
    background-image:url(../../../imagens/icones/add.png) !important;
}

.SwfUploadPanel_iconUpload {
    background-image:url(../../../imagens/icones/arrow_up.png) !important;
}

.SwfUploadPanel_iconCancel {
    background-image:url(../../../imagens/icones/delete.png) !important;
}

.SwfUploadPanel_iconDelete {
    background-image:url(../../../imagens/icones/delete.png) !important;
}